<style media="screen">
  .About {
    display: block;
  }
  fieldset {
    border-radius: 8px;
    background-color: #F5F5F5;
    font-size: 20px;
    max-width: 900px;
    padding: 24px;
  }
  legend {
    background-color: gray;
    border-radius: 16px;
    color: white;
    padding: 8px;
  }
  h3 {text-align: left;}
  p {font-size: 12px;}

  @media screen and (max-width: 950px) {
    fieldset {
      font-size: 16px;
      max-width: 750px;
      padding: 12px;
    }
 }
 @media screen and (max-width: 700px) {
   fieldset {
     font-size: 14px;
     max-width: 500px;
     padding: 8px;
   }
}
@media screen and (max-width: 550px) {
  fieldset {
    font-size: 12px;
    max-width: 500px;
    padding: 4px;
  }
}
</style>
