<style media="screen">
  .header {
    overflow: hidden;
    background-color: #F5F5F5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    top: 0;
  }
  .header img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  .topnav {
    padding: 0 auto;
    max-width: 900px;
    height: auto;
    overflow: hidden;
    background-color: white;
    border-bottom: 3px solid #F5F5F5;
  }
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 18px;
  }
  .topnav a:hover {color: blue;}
  #navigation a{display: inline;}
  #navigation a:not(:first-child)::before{content: "  | ";}

  .topnav .SB {
    float: right;
    padding: 10px 14px;
  }
  .topnav .SB input[type=text] {
    text-align: center;
    font-size: 10px;
    border: 2px solid gray;
    border-radius: 16px;
    width: 200px;
    padding: 6px 12px;
  }
  .topnav .SB input[type=text]:hover {border-color: black;}
  .topnav .SB input:focus::placeholder {color: transparent;}

  .footer {
    overflow: hidden;
    background-color: navy;
    border-color: inherit;
    bottom: 0;
    width: 100%;
  }
  .footer p{
    float: left;
    color: white;
    padding: 10px 50px;
    font-size: 12px;
  }

  .login-container {
    float: right;
    padding: 10px 50px;
    text-align: right;
  }
  .login-container input[type=text] {
    padding: 5px;
    border-radius: 4px;
    border-color: inherit;
    font-size: 10px;
    width: 120px;
  }
  .login-container button {
    padding: 4px;
    background-color: #555;
    border-radius: 4px;
    border-color: inherit;
    color: white;
    font-size: 10px;
    cursor: pointer;
  }
  .login-container button:hover {background-color: black;}
</style>
