<style media="screen">
  .header {overflow: hidden; background-color: #F5F5F5; background-position: center; background-repeat: no-repeat; background-size: auto; position: relative; top: 0;}
  .header img { display: block; height: auto; width: 100%;}

  .topnav {padding: 0 auto; width: 100%; display: block; overflow: hidden; background: linear-gradient(#828282, #616161); border-bottom: 6px groove;}
  .topnav a {float: left; display: block; color: white; text-align: center; padding: 6px; text-decoration: none; font-size: 14px; border-radius: 4px;}
  #navigation a {display: inline;}
  .topnav a:hover {background: linear-gradient(#616161, #454545);}

  .form {display: block; border: 4px solid #f1f1f1;}

  @media screen and (max-width: 1024px) {
    .topnav a {font-size: 12px; padding: 8px;}
</style>
