<style media="screen">
  .PrintOut {display: table;}

  .searchbox {text-align: center; padding: 10px; font-size: 20px; width: 100%;}
  .searchbox input[type=text] {text-align: center; padding: 6px; font-size: 14px;}
  .searchbox input {padding: 6px; font-size: 14px;}

  div {overflow:auto; width:100%; height:80%;}
  table {border-collapse: collapse; width: 100%;}
  tr td {position:sticky; top:0; border:1px solid gray; overflow-wrap: break-word;}
  th {background-color:lightblue;}
  td:first-child, th:first-child {position:sticky; left:0; z-index:1; background-color:lightpink;}
  th:first-child{ z-index:2; background-color:lightblue;}


 height:30px;}

  @media screen and (max-width: 1024px) {
    .searchbox {padding: 6px; font-size: 14px;}
    .searchbox input[type=text] {padding: 4px; font-size: 10px;}
    .searchbox input {padding: 4px; font-size: 10px;}

    .Output {}
 }
</style>
