<style media="screen">
  .TextContainer {display: block;}
  fieldset {border-style: hidden; background-color: #FFFFFF; width: 100%; padding: 24px;}
  h2 {background-color: red; border-radius: 4px; color: white; padding: 4px; width: 100%; text-align: center; font-size: 16px;}
  h3 {padding: 10px 0px; font-size: 14px;}
  p {font-size: 11px;}

  @media screen and (max-width: 1024px) {
    fieldset {max-width: 90%; padding: 14px; font-size: 12px;}
    legend {font-size: 14px;}
    h3 {font-size: 16px; padding: 10px 0px;}
    p {font-size: 12px;}

    .TextContainer input[type=text] {text-align: center; width: 120px; font-size: 12px; height: 28px;}
    .TextContainer button {width: 48px; font-size: 12px; height: 28px;}
</style>
