body {
  font: 11pt "微軟正黑體";
  font-family: "Lucida Sans", sans-serif;
  align-items: center;
  min-height: 100px;
  position: relative;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover{
  background-color: #ddd;
  color: black;
}

div.container{
  background: white;
  background-position: top;
  background-repeat: no-repeat;
  width: 1000px;
  margin: 0 auto;

}
div.container h1 {
  background-image: url("../images/pic_03.jpg");
  background-position: top;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
div.container p {
  text-align: center;
}

div.topnav{

}
div.topnav nav{

}
div.topnav nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
div.topnav nav ul li{
  display: inline;
  float: left;
}
div.topnav nav ul li:last-child {

}
div.topnav nav ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
div.topnav nav ul li a:hover{
  background-color: #111;
}
div.topnav nav ul li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}

div.main{
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  min-height:400px;
  padding: 20px;
  border: 2px solid #111;
  background-color: white;
}
div.main h2.welcome{
  font-size: 30pt;
  text-align: center;
}
div.main div.intro{
  text-align: center;
}
div.main div.intro p{
  font-size: 18pt;
}
div.main div.login div.register{
  text-align: center;
  margin-bottom: 20px;
}

label{
  display: inline-block;
  vertical-align: top;
}
input, textarea{
  width: 80%;
  color: #333;
}
textarea{
  height: 300px;
}
form p{
  text-align: center;
}
button{
  border: #ccc solid 4px;
  background-color: #111;
  color: #fff;
  padding: 15px, 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 8px;
  font-size: 16px;
}
button:active{
  background-color: #333;
  border: #fff8c3 solid 1px;
}
li.actice{
  background-color: #000;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #0099cc;
  color: #ffffff;
  width: 100%;
  text-align: center;
  font-size: 12px;
  height: 6%;
}
