body {
  font: 10pt "微軟正黑體";
  font-family: 'Lukiest Guy', cursive;
  align-items: center;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover{
  color:#f9ffc1;
}

div.container{
  background-image: linear-gradient(white, skyblue);
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
}
div.container h1 {
  background-image: url("../images/pic_03.jpg");
  background-position: top;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
div.container p {
  text-align: center;
}
div.menu{
  margin-top: auto;
}
div.menu nav{
  width: 100%;
  overflow: auto;
  height: 30px;
}
div.menu nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 3px solid #555;
  overflow: auto;
  position: fixed;
  top: 0px;
  right: 0%;
  width: 100%;
  background-color: #6495ED;
}
div.menu nav ul li{
  display: inline-block;
  text-align: center;
  border-right: 1px solid #bbb;
}
div.menu nav ul li:last-child {
  border-right: none;
}
div.menu nav ul li a{
  display: block;
  padding: 5px 20px;
  font-size:16pt;
  text-decoration: none;
}
div.menu nav ul li a:hover {
  background-color: #4682B4;
}
.active {
  background-color:#111;
}
div.main{
  width: 800px;
  margin: 0 auto;
  margin-top: 10px;
  min-height:300px;
  padding:20px;
  border-style: dashed;
}
div.main h2.welcome{
  font-size: 30pt;
  text-align: center;
}
div.main div.intro{
  text-align: center;
}
div.main div.intro p{
  font-size: 18pt;
}
div.main div.login{
  text-align: center;
  margin-bottom: 20px;
}
label{
  display: inline-block;
  vertical-align: top;
}
input, textarea{
  width: 80%;
  color: #333;
}
textarea{
  height: 300px;
}
form p{
  text-align: center;
}
button{
  border: #ffe800 solid 1px;
  background-color: #000;
  color: #fff;
  padding: 5px, 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
button:active{
  background-color: #333;
  border: #fff8c3 solid 1px;
}
li.actice{
  background-color: #000;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
